body{
  background-image:url('../fondo.jpg');

background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}

@font-face {
font-family: PT_Sans-Narrow-Web-Bold;
src: url(../fuente/PT_Sans-Narrow-Web-Bold.ttf);
}

h1,h2,p{
  text-align: center;
  font-family: PT_Sans-Narrow-Web-Bold;
}


/******************* CSS MENU ***************************/

.botonmenu {
  display: inline-block;
  border-radius: 80px;
  height: 80px;
  width: 300px; 
}

.botonmenuC{
   border-radius: 80px;
  height: 80px;
  width: 300px;
}
.botonmenu:hover {background-color: #171a30;}


/*Botones de los niveles */
.botonmenuJ{
  height: 50px;
  width: 50px;
  border-radius: 60px;
}

.botonmenuB {
  display: inline-block;
  border-radius: 50px;
  height: 50px;
  width: 90px; 
}

.botonmenuB:hover {background-color: #171a30;}


/******************CSS Imagenes*****************************/

.imgmonstruo{  /*monstruos de menu*/
  height: 150px;
  width: 170px;
}

.imgmonstruoAcercaDe{ /*monstruos de acerca de la app*/
  height: 70px;
  width: 70px;
}

.imgmonstruosjuego{ /*monstruos dentro del juego*/
  height: 50px;
  width: 60px;
}

.imgniveles{
  border: 3px solid black;
  height: 150px;
  width: 150px;
}


/*imagenes de los juegos*/
.imgJuegos{
  height: 110px;
  width: 120px;
  border: 2px solid black;
  border-radius: 4px;
} 

.cambiarBorde{
  border: 2px solid red;
}

.cambiarBorde2{
  border: 4px solid yellow;
}
.iconoSonido{
  border: 3px;
  height: 50px;
  width: 50px;
}

.imgNivel2{
  width: 130px;
  height: 150px;
  border: 2px solid green;
border-radius: 5px;
  
}
/*****************CSS General ******************/

.center{
  text-align: center;
}

.tablas{
  text-align: center;
  margin: 0 auto;
}

.casillasCompletar{
   margin:0 auto;
    border: 1px solid black;
    background: blue;
}

.tablaProp{
  width: 270px;
  height: 265px;
  border-radius: 4px solid;
}

.zoom{
  width: 135px;
  height: 135px;
}

/************************* NIVEL 1 ***************************/

/*Juego 1 */

.contenedor{ 
padding:10px; 
margin-left: 200px;
overflow:hidden; 
text-align: center;
} 

.izquierda{ 
float:left;    /*tambien puede poner float:right, para que se alineé a la derecha */
padding:10px;  
width:300px; 
margin:40px; 
background:#42f44b; 
border-top-left-radius: 1em; 
border-top-right-radius: 1em;
} 

.derecha{ 
float:left;       /*tambien puede poner float:right, para que se alineé a la derecha */
padding:10px; 
width:300px; 
margin:40px; 
background:#42f44b; 
border-radius: 20px;
} 

.botonJuegos{
  display: inline-block;
  border-radius: 60px;
  height: 60px;
  width: 200px; 

}

.botonIJuegos{
  border-radius: 60px;
  height: 60px;
  width: 200px;
}

.botonJuegos:hover {background-color: #171a30;}


/* Juego 3 */
.hide {
  display: none;
}


/*Juego 4 */

/*Naipes */

.flip-container {
  perspective: 1000px;
}
  /* flip the pane when hovered */
  .flip-container:hover .flipper, .flip-container.hover .flipper {
    transform: rotateY(180deg);
  }

.flip-container, .front, .back {
  height: 110px;
  width: 120px;
  border: 2px solid black;
  border-radius: 4px;
}

/* flip speed goes here */
.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
}

/* hide back of pane during swap */
.front, .back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

/* front pane, placed above back */
.front {
  z-index: 2;
  /* for firefox 31 */
  transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
  transform: rotateY(180deg);
}


 /***********Fin naipes**************/
 

/***************** NIVEL 2 ******************/

/*******Juego 1*************/

.tablanivel2{
  display: inline-block;
 margin: 0 auto;

width: 306px;
height: 200px;
}

#feedback { 
  font-size: 1.4em; }
#selectable .ui-selecting { 
  background: #FECA40; }
#selectable .ui-selected { 
  background: #F39814; color: white; }
#selectable { 
  list-style-type: none; margin: 0; padding: 0; width: 60%; }
#selectable li { 
  margin: 3px; padding: 0.4em; font-size: 1.4em; height: 18px; }

 .ocultar{
  display: none;
 } 

/* actividad 2*/
#feedback1 { 
  font-size: 1.4em; }
#selectable1 .ui-selecting { 
  background: #FECA40; }
#selectable1 .ui-selected { 
  background: #F39814; color: white; }
#selectable1 { 
  list-style-type: none; margin: 0; padding: 0; width: 60%; }
#selectable1 li { 
  margin: 3px; padding: 0.4em; font-size: 1.4em; height: 18px; }

/* actividad 3 */




/*************animacion alertas***********/
/* una pequeña animación extra */
@keyframes modal{0%{opacity:0;-webkit-transform:scale3d(.3,.3,.3);transform:scale3d(.3,.3,.3)}50%{opacity:1}}
/* estilo del contenedor padre */
.modal {
position: absolute;
max-width: 500px;
z-index: 15;
color: #5A5A5A;
padding: 10px;
font: 13px/140% "Open Sans", Helvetica, Arial, sans-serif;
}
/* estilo del fondo */
#modal-back {
position: fixed;
opacity: 0.8;z-index: 14;
background: #000000;
top: 0;
left: 0;
right: 0;
bottom: 0;
margin: auto;
}
/* estilo de contenedor */
.modal {
top: 50%;
left: 50%;
-webkit-transform:translate(-50%,-50%);
-ms-transform:translate(-50%,-50%);
transform:translate(-50%,-50%);
}
/* estilo de subcontenedor */
#modal-c {
height: 100%;
position: relative;
background: #fff;
-webkit-animation: modal 500ms cubic-bezier(0.215, 0.61, 0.355, 1) 250ms backwards;
animation: modal 500ms cubic-bezier(0.215, 0.61, 0.355, 1) 250ms backwards;
border-radius: 4px;
-webkit-box-shadow: 0 0px 7px rgba(0, 0, 0, 0.5);
box-shadow: 0 0px 7px rgba(0, 0, 0, 0.5);
}
/* estilo de títulos */
.modal h3 {
padding: 15px 0px;
text-align: center;
}
/* estilo de contenido */
.modal span {
display: block;padding: 0px 19px;
}
/* estilo de botones */
#buttons {
position: absolute;
right: 0;
bottom: 0;
padding: 3px 0px;
}
#buttons a{
height: 100%;padding: 7px 15px;
color: #3C6998;
display: inline-block;
text-decoration: none;}

/**********************************************/



/* Juego 1 Nivel 2 Rama ???  */
.tarejtaSeleccionada{
  border-style: solid;
  border-width: 2px;
  border-color: red;
}

.caja{ 
 

width:300px; 

background:#42f44b; 
border-top-left-radius: 1em; 
border-top-right-radius: 1em;
} 